.h3 {
    margin-top: 10px !important;
}

.container{
}

label {
    margin-top: 10px;
    margin-bottom: 5px;
}

.static-text, .dynamic-text{
    padding: 5px;
    box-shadow: 5px 5px lightblue;
}

.drone, .coord-pref{
    margin-bottom: 5px;
}

.btn {
    margin-top: 10px;
}